<header itemscope itemtype="https://schema.org/WPHeader">

    <div class="child navbar-toggle">
        <fa-icon [icon]="faBars" class="bar-icon" (click)="onToggleBar()"></fa-icon>
    </div>

    <div class="child logo-container" itemprop="brand" itemscope itemtype="https://schema.org/Brand">
        <a (click)="resetMenu()" href="#" class="logo" itemprop="name" itemprop="logo">AP</a>
    </div>

    <div class="child nav-container" #nav [ngClass]="{'menu-open': hasMenuToggled}" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul>
            <li><a (click)="resetMenu()" href="#about" i18n="nav@@aboutMe" itemprop="url"><span itemprop="name">About</span></a></li>
            <li><a (click)="resetMenu()" href="#experience" i18n="nav@@experiences" itemprop="url"><span itemprop="name">Experience</span></a></li>
            <li><a (click)="resetMenu()" href="#blogs" i18n="nav@@blogs" itemprop="url"><span itemprop="name">Articles</span></a></li>
            <li><a (click)="resetMenu()" href="#mentorship" itemprop="url"><span itemprop="name">Mentorship</span></a></li>
            <li><a (click)="resetMenu()" href="#testimonials" itemprop="url"><span itemprop="name">Testimonials</span></a></li>
            <li><a (click)="resetMenu()" href="#contact" i18n="nav@@contact" itemprop="url"><span itemprop="name">Contact</span></a></li>
        </ul>
    </div>

    <div class="child share-container" #shareBtn>
        <fa-icon [icon]="faShareAlt" class="icon" (click)="share()" alt="share" itemprop="share"></fa-icon>
    </div>

</header>
