#welcome {
    flex-direction: column;
    height: 700px;
    padding-top: 5em;
}

.layer_one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.layer_one .avatar-container {
    position: relative;

}

.layer_one .avatar-container .illustration {
    height: 640px;
    z-index: 1;
    position: relative;
    border-radius: 46%;
    width: 485px;

}

.illustration {
    top: 21%;
    height: 640px;
    z-index: 1;
    position: relative;
    border-radius: 36%;
    width: 485px;

}