.skills {
    position: absolute;
    top: 150px;
    left: 5px;
	z-index: 0;
	
	img.background {
		width: 535px;
	}

	.skill-icon {
		position: absolute;
		width: 50px;

		// Define the animations for the icons
		animation-name: floating-icons;
		-webkit-animation-name: floating-icons;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		animation-duration: 4s;

		// Odd icons have different animation frame.
		&:nth-child(2n+3) {
			animation-duration: 5s;
		}

		// Specifications for each icon positioning
		&.first {
			top: 385px;
			left: -35px;
		}

		&.second {
			top: 340px;
			left: -55px;
		}

		&.third {
			top: 300px;
			left: -65px;
		}

		&.fourth {
			top: 240px;
			left: -70px;
		}

		&.fifth {
			top: 200px;
			left: -75px;
		}

		&.sixth {
			top: 145px;
			left: -55px;
		}

		&.seventh {
			top: 90px;
			right: 520px;
		}

		&.eighth {
			top: 35px;
			right: 490px;
		}

		&.ninth {
			top: 0px;
			right: 450px;
		}

		&.tenth {
			top: -35px;
			right: 400px;
		}
		&.eleventh {
			top: -60px;
			right: 340px;
		}
		&.tweleth {
			top: -65px;
			right: 290px;
		}
		&.thirteenth {
			top: -55px;
			right: 240px;
		}
		&.fourteenth {
			bottom: 380px;
			right: -70px;
		}
		&.fifteenth {
			bottom: 420px;
			right: -60px;
		}
	}
}

@keyframes floating-icons {
	0% { transform: translate(0%, 0%); }
	25% { transform: translate(5%, 15%); }	
	50% { transform: translate(10%, 5%); }	
	75% { transform: translate(0%, 15%); }	
	100% { transform: translate(0%, 0%); }			
}