<div class="skills">
    <img loading="lazy" class="background" src="/assets/template/welcome/illustration-back.png" alt="Background circle"/>
    <img loading="lazy" class="skill-icon first" src="/assets/template/welcome/icons/jenkins.svg" alt="Jenkins"/>
    <img loading="lazy" class="skill-icon second" src="/assets/template/welcome/icons/apache_tomcat.svg" alt="Apache Tomcat"/>
    <img loading="lazy" class="skill-icon third" src="/assets/template/welcome/icons/git.svg" alt="Git"/>
    <img loading="lazy" class="skill-icon fourth" src="/assets/template/welcome/icons/postgresql.svg" alt="PostgreSQL"/>
    <img loading="lazy" class="skill-icon fifth" src="/assets/template/welcome/icons/mysql.svg" alt="MySQL"/>
    <!-- <img loading="lazy" class="skill-icon sixth" src="/assets/template/welcome/icons/mongodb.svg" alt="Mongodb"/> -->
    <img loading="lazy" class="skill-icon sixth" src="/assets/template/welcome/icons/AWS.svg" alt="AWS"/>
    <img loading="lazy" class="skill-icon seventh" src="/assets/template/welcome/icons/springio.svg" alt="Spring"/>
    <img loading="lazy" class="skill-icon eighth" src="/assets/template/welcome/icons/java.svg" alt="JAVA"/>
    <img loading="lazy" class="skill-icon ninth" src="/assets/template/welcome/icons/python.svg" alt="Python"/>
    <img loading="lazy" class="skill-icon tenth" src="/assets/template/welcome/icons/camunda.svg" alt="Camunda"/>
    <img loading="lazy" class="skill-icon eleventh" src="/assets/template/welcome/icons/javascript.svg" alt="JavaScript"/>    
    <img loading="lazy" class="skill-icon tweleth" src="/assets/template/welcome/icons/angular.svg" alt="Angular"/>
    <!-- <img loading="lazy" class="skill-icon fourteenth" src="/assets/template/welcome/icons/css3.svg" alt="CSS3"/> -->
    <img loading="lazy" class="skill-icon thirteenth" src="/assets/template/welcome/icons/html5.svg" alt="HTML5"/>
    <!-- <img loading="lazy" class="skill-icon fifteenth" src="/assets/template/welcome/icons/sql.svg" alt="SQL"/> -->
</div>